@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.hero-bg {
    background-color: #f9e4f9;
    background-image: linear-gradient(180deg, #f9e4f9 0%, #dcfafe 50%, #ffffff 100%);
}


             
    .btn-grad {
        background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA  51%, #9D50BB  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        
        display: block;
      }

      .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
     

.bg-sem{
  
  background-color: #a2f9e9;
background-image: linear-gradient(90deg, #a2f9e9 0%, #bbc5f1 100%);

}
